@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Prata&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Gothic+Expanded+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Quicksand", sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in;
}

::-webkit-scrollbar {
    width: 10px;
    /* scrollbar width */
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f8f4;
    /* light greenish background */
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #1f7a45, #0c4223);
    border-radius: 10px;
    border: 5px solid #f1f8f4;
    /* creates nice border spacing effect */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #2fa354, #0d5c2f);
}

/* For Firefox */
* {
    scrollbar-width: bold;
    scrollbar-color: #1f7a45 #f1f8f4;
}

/* Optional: Smooth scrolling effect */
html {
    scroll-behavior: smooth;
}


/* globals.css
.custom-bullet {
    @apply w-2.5 h-2.5 bg-gray-300 rounded-full opacity-70 transition-all duration-300 cursor-pointer;
}

.custom-bullet-active {
    @apply bg-amber-500 w-7 rounded-full opacity-100;
}

.hero-swiper .swiper-pagination {
    position: static;
} */